.galleryDesign{
    box-sizing: border-box;
    margin: 30px;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 30px;
}

.gallery img {
    padding: 10px ;
    padding-left: 20px;
    border-radius: 20px;
}

.responsive{
    margin: 10px;
    margin-left : 30px;
    margin-top: 20px;
    padding: 0 6px;
    float: left;
    width: 13%;
    border: 1px solid black;
    border-radius: 20px;

}

.responsive:hover{
    margin: 10px;
    margin-left : 30px;
    margin-top: 20px;
    padding: 0 6px;
    float: left;
    width: 13%;
    border: 1px solid black;
    border-radius: 20px;
    background: rgb(230, 221, 221);

}




@media screen and (max-width:1150px){
    .responsive{
        width: 15%;
        margin-left: 20px;
        padding: 0;
    }
    .responsive .gallery img{
       

        padding: 0;
    }
    
}

@media screen and (max-width:820px){
    .responsive{
        width: 15%;
        margin-left: 20px;
        padding: 0;
    }

    .responsive .gallery img{
        height: 80px;
        width: 80px;
    }
}

@media screen and (max-width:768px){
    .responsive{
        width: 26%;
        margin-left: 32px;
        padding: 0;
    }

    .responsive .gallery img{
        height: 80px;
        width: 100px;
    }
}

@media screen and (max-width:635px){
    .responsive{
        width: 22%;
        margin-left: 32px;
        padding: 0;
    }

    .responsive .gallery img{
        height: 80px;
        width: 100px;
    }
}


@media screen and (max-width:540px){
    .responsive{
        width: 22%;
        /* margin-left: 30px; */
        padding: 0;
    }

    .responsive .gallery img{
        height: 80px;
        width: 80px;
    }
}


@media screen and (max-width:428px){
    .responsive{
        width: 30%;
        margin-left: 40px;
        padding: 0;
    }

    .responsive .gallery img{
        height: 80px;
        width:80px;
        padding: 0;
    }
}