
.why1 {
  color: maroon;
  font-family:Arial ;
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
}

.why h1 {
  margin-bottom: 40px;
  color: maroon;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  letter-spacing: 1.5;
}

.bodyA{
  background-color: rgb(7, 7, 7);
}


.containerS:before{
  content:"";
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#f00,#f0f); */
  clip-path: circle(10% at 25% 90%);
}

.containerS:after{
  content:"";
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#85d2e5,#f880a8); */
  /* background: linear-gradient(#f00,#f0f); */
  clip-path: circle(10% at 75% 0%);
  /* clip-path: circle(8% at 8% 70%); */
}

.containerS{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  z-index: 1;
}


.containerS .cardS{
 
  /* position: relative; */
  width: 220px;
  height: 300px;
  margin: 40px;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
  border-radius:15px;
  z-index: 1;
  background: rgba(255,255,255,0.2);
  overflow: hidden;
  top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top:  2px solid rgba(255,255,255,0.5);
  border-left:  2px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);

}

.containerS .cardS img{
  justify-content: center;
  height: 150px;
  width: 150px;
  margin-bottom : 20px;
  border-radius: 50%;
  
}


.containerS .cardS .contentS{
  padding:18px;
  text-align: center;
  
  /* opacity: 0.0; */
}
.containerS .cardS:hover .contentS{
  transform: translate(0px);
  opacity: 1;
  cursor: pointer;
}

.containerS .cardS .contentS h3{
  font-size: 20px;
  color: rgb(255, 247, 247);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .containerS  {
    width: 600px;
  }
  .containerS .cardS{
    margin-left: 80px;
  }
}

