.containerStrength {
  max-height: auto;
  background: white;
  margin: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid black;
  padding: 0;
}

.containerStrength .designStrength {
  margin: 20px;
  margin-top: 40px;
  margin-left: 10%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerStrength .contentStrength {
  margin: 20px;
  margin-left: 10%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerStrength .designStrength h2 {
  border-bottom: 2px solid maroon;
  /* margin-top: 20px; */
  font-weight: 600;
  font-size: 25px;
  color: maroon;
  letter-spacing: 1px;
}

.containerStrength .contentStrength p {
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
  margin-bottom: 70px;
  font-weight: 600;
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 2rem;
}
.containerStrength .contentStrength p strong {
  opacity: 0;
}
.containerStrength .contentStrength br {
  margin-top: 5px;
}

.containerStrength:hover {
  background-color: rgb(255, 255, 255);
  border: 4px solid rgb(0, 79, 153);
  border-radius: 30px;
}

.containerStrength:hover .designStrength h2 {
  color: maroon;
}
.containerStrength:hover .contentStrength p {
  color: rgb(15, 14, 15);
}

.containerLists {
  margin: 20px;
}

.img-wrapA img {
  height: 450px;
  width: 450px;
  margin-top: 50px;
  margin-right: 20px;
  border: 2px solid black;
  border-radius: 20px;
}

.containerAboutLists .contentLists p {
  font-size: 18px;
  font-weight: 600;
}

.containerAboutLists .contentLists p span {
  color: red;
  margin-left: 20px;
  margin-right: 20px;
}

.designStrengthFacility {
  margin: 20px;
  margin-top: 40px;
  margin-left: 10%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: 40px;
  color: maroon;
  letter-spacing: 1px;
}

@media (max-width: 700px) {
  .containerStrength{
    width: 95%;
  }
  .containerStrength .contentStrength p{
    font-size: 18px;
    line-height: 1.5;
  }
  .containerAboutLists .contentLists{
    width : 90%;
    margin-left: 5%;
  }
  .img-wrapA {
    width: 90%;
    
  }
  .img-wrapA img{
    width: 350px;
    margin-right: 38px;
    
  }
  .containerAboutLists .contentLists p {
    margin-left: 20px;
    font-size: 15px;
  }
}
.researchDesign {
  background:white;
  max-height: auto;
  margin: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 3px solid rgb(48, 0, 110);
  padding: 0;
  display: column;
  justify-content: center;
  align-items: center;
}

.researchDesign .researchTitle {
  margin: 20px;
  margin-top: 20px;
  margin-left: 10%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.researchDesign .researchTitle h2 {
  /* margin-top: 20px; */
  font-weight: 600;
  font-size: 25px;
  color: maroon;
  letter-spacing: 1px;
  border-bottom: 4px solid rgb(7, 7, 7);
  border-radius: 10px;
}

.researchDesign .researchContent {
  border-bottom: 4px dashed rgb(2, 2, 2);
  margin: 20px;
  margin-left: 5%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.researchDesign .researchContent p {
  text-align: justify;
  /* margin: 10px; */
  font-size: 18px;
  line-height: 2rem;
  font-weight: 600;
}

.researchDesign:hover {
  background: white;
}
